#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: aquamarine;
}

#nav li{
    margin: 5px;
    padding: 10px 5px;
}

#nav li:hover{
    background-color: blueviolet;
}

#nav a{
    text-decoration: none;
}


.padre{
    background-color: brown;
padding: 20px;
}

.hijo{
    background-color: rgb(6, 219, 226);
    padding: 100px;
    border: 10px solid rgb(69, 17, 189);
    margin: 30px;
}


#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: brown;
    gap: 1rem;
}

.card{
    width: 200px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}

.card img{
    width: 100%;
    border-radius: 8px;

}

.card p{
    color: beige;
    background-color: black;
}