#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: aquamarine;
}

#nav li{
    margin: 5px;
    padding: 10px 5px;
}

#nav li:hover{
    background-color: blueviolet;
}

#nav a{
    text-decoration: none;
}


.padre{
    background-color: brown;
padding: 20px;
}

.hijo{
    background-color: rgb(6, 219, 226);
    padding: 100px;
    border: 10px solid rgb(69, 17, 189);
    margin: 30px;
}


#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(191, 66, 202);
    gap: 1rem;
}

.card{
    width: 200px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}

.card img{
    width: 100%;
    border-radius: 8px;

}

.card p{
    color: beige;
    background-color: black;
}

/* carrito */
#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(224, 16, 224);
    background-color: rgb(47, 163, 0);
    color: white;
}
/*Concurrencia*/
pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: green;
}

/* Try catch */
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mensaje{
    font-weight: bold;
    color: red;
}